{% extends 'base.html' %}

{% block content %}
{% load cart %}

<div class="container">
    <div class="border rounded p-4 m-4">
        <div class="p-3 mb-2 bg-danger text-white">Your cart</div>
        <table class="table">
            <thead>
              <tr>
                <th scope="co-2">Sno</th>
                <th scope="col-2">Name</th>
                <!-- <th scope="col">Category</th> -->
                <th scope="col-2">Image</th>
                <th scope="col-2">Price</th>
                <th scope="col-2" >Quantity</th>
                <th scope="col-2">Total</th>
              </tr>
            </thead>
            <tbody>
            {% for product in products %}
              <tr>
                <th class="col-2">{{forloop.counter}}</th>
                <td class="col-2" >
                  <span name="productname" for="productname">{{product.name}}</span></td>
                <!-- <td class="col-2">{{product.category}}</td> -->
                <td class="col-2">                
                <img src="{{product.image.url}}" class="img-thumbnail" alt="..." style="max-width:55%;">
                </td>                
                <td class="col-2">$ {{product.price}}</td>
                <td class="col-2 "> 
                  <!-- {{product | cart_quantity:request.session.cart}} -->
                  <!-- changing here -->

                  <div class="d-flex justify-content-between ">
                      {% if product|is_in_cart:request.session.cart %}            
                        
                            <form action="{% url 'cart' %}" method="post">
                                {% csrf_token %}
                                <input hidden type="number" name="product" value="{{product.id}}">
                                <input hidden type="text" name="remove" value="True">
                                <input type="submit" value=" - " class="btn btn-danger me-2 " >
                            </form>
                            <div class="text-center">
                              <!-- input data -->
                                <input type="text" id="maindata" name="maindata" value="{{product | cart_quantity:request.session.cart}}" style="width:50px ;" onchange="funchange();"> 
                            </div>
                            <form action="{% url 'cart' %}"  method="post">
                                {% csrf_token %}
                                <input hidden type="text" name="product" value="{{product.id}}">
                                <input type="submit" value=" + " class="btn btn-block btn-danger me-2">
                            </form>
                        </div>                
                    {% endif %}        
                  </div>
                    
            
                              
                  <!-- changing here -->
                </td>    
                <td class="col-2">$ {{product | price_total:request.session.cart}}</td>

              </tr>
            {% endfor %} 
            </tbody>

            <tfoot>
                <tr>
                    <th colspan="5">Total :</th>
                    <th>$ {{products|total_cart_price:request.session.cart}}</th>
                </tr>
            </tfoot>
            
        </table>

       
                                           
            <a href="/checkout">
              <!-- <input type="hidden" name="money" value="{{product.id}}"> -->
              <input type="submit" value="Check Out" class="btn btn-outline-primary border rounded col-lg-3 float-right" >
            </a>          
         

    </div>

</div>

{% block js%}
  <script>
    function funchange(){
      var message = document.getElementById("maindata").value;
      // var x = parseInt(message, 10);
      // window.location.href = '/cart1/' + x

    }
  </script>

{% endblock js%}

{% endblock content %}